* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 20px;
}

body {
  font-family: 'Reno Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
